@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<!-- PRODUCTS START -->

<input id="count" type="hidden" value="@ViewBag.ProductCount"/>
<section id="products">
    <div class="container">
        
        <div class="row" id="productrow">
            @*<partial name="_ProductPartial">*@
            @await Component.InvokeAsync("Products",12);
        </div>

        <div class="row justify-content-center mt-3">
            <button id="loadMore" class="btn btn-success">Load more..</button>
        </div>
    </div>
</section>

<!-- PRODUCTS END -->
